<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width", "initial-scale=1.0">
    <meta http-equive="X-UA-Compatible" contents="ie=edge">
    <title>List of Champions</title>
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
   
    
</head>

<body>
    <div class = logo-img>

        <img  src="static/images/LoL-Logo.png" width="180" height="90">

    </div>

    <header>
        
        <nav class = center-align>
            
            <ul>
                <a href="/"><li class = button>Home</li></a>
                <a href="champions"><li class = button>Champions</li></a>
                <a href="guides"><li class = button>Guides</li></a>
                <a href="FAQ"><li class = button>FAQ</li></a>
            </ul>
        </nav>
        
    </header>
    <h1 class = centerA> Champion List </h1>

     
    {% for champions in results%}
    <div class = list-border>
        <h2> Name: {{champions[1]}} </h2>
        <h2> Class: {{champions[7]}} </h2>
        <h2> Role: {{champions[9]}} </h2>
        <h2> Description: {{champions[4]}} </h2>
        <img src={{url_for('static',filename='images/Champions/'+champions[11])}} width="400" height="250"  > 
        <form action="/delete" method="post">
        <input type="hidden" name="item_name" value="{{champions[0]}}">
        <!--<input type="submit" value="delete">-->
        </form>
    </div> 
        
        
        
    {% endfor %}
    <div class= centerA>
        <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" name="Name">
       
        <label for="Class">Class:</label>
        <select name="Class" id="Class">
        {% for class in classes%}
        <option value="{{class[0]}}">{{class[1]}}</option>  
        {% endfor %}
        </select>
    
        <label for="Role">Role:</label>
        <select name="Role" id="Role">
        {% for role in role %}
        <option value="{{role[0]}}">{{role[1]}}</option>  
        {% endfor %}
        </select>
        <label for="description">Description:</label>
        <input type="text" name="Description">
        
        <label for="Image">Image:</label>
        <select name="image_filename" id="Image">
        {% for image in images %}
        <option value="{{image[0]}}">{{image[1]}}</option>  
        {% endfor %}
        </select>
        <input type="submit" name="add">
        </form>
    </div>




</body>

</html>