<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width", "initial-scale=1.0">
    <meta http-equive="X-UA-Compatible" contents="ie=edge">
    <title>FAQ</title>
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}> 
    
</head>

<body>
    <div class = logo-img>

        <img  src="static/images/LoL-Logo.png" width="180" height="90">

    </div>

    <header>
        
        <nav class = center-align>
            
            <ul>
                <a href="/"><li class = button>Home</li></a>
                <a href="champions"><li class = button>Champions</li></a>
                <a href="guides"><li class = button>Guides</li></a>
                <a href="FAQ"><li class = button>FAQ</li></a>
            </ul>
        </nav>
        
    </header>
    <h1 class = centerA> FAQ </h1>

    <div class = list-border >
        <h2 class = centerA> 1. Are you going to add all the champions in this website  </h2>
        <h3> Probably not considering there's like 150+ champions in the game. Champions that I'm adding are the champions I have some knowledge in.<h3>
    </div>

    
    <div class = list-border >
        <h2 class = centerA> 2. Am I an experienced league of legends player? </h2>
        <h3> Yes I'm expereienced at the game, but I'm still bad at playing the game.<h3>
    </div>


    <div class = list-border >
        <h2 class = centerA> 3. Are you going to add a file upload feature for adding champions?  </h2>
        <h3> No, because it's too complicated for me :( <h3>
    </div>