<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width", "initial-scale=1.0">
    <meta http-equive="X-UA-Compatible" contents="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    
</head>

<body>
    <div class = logo-img>

        <img  src="static/images/LoL-Logo.png" width="180" height="90">

    </div>

    <header>
        
        <nav class = center-align >
            
            <ul>
                <a href="/"><li class = button>Home</li></a>
                <a href="champions"><li class = button>Champions</li></a>
                <a href="guides"><li class = button>Guides</li></a>
                <a href="FAQ"><li class = button>FAQ</li></a>
            </ul>
        </nav>
        
    </header>
    <h1 class = centerA> Home </h1>

    <div class = list-border>
        <h2 class = centerA> Purpose of this website </h2>
        <h3> The purpose of this website is to show optimal guides and tips on champions towards people that play League of Legends </h3>
    </div>

    <div class = list-border centerA> 
        <h2 class = centerA > Introduction to League of Legends Video </h2>
        <iframe width="500" height="265" class = img src="https://www.youtube.com/embed/brNGDA5R048" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = list-border> 
        <h2 class = centerA > What is League of legends </h2>
        <h3>League of Legends, commonly referred to as League, is a 2009 multiplayer online battle arena video game developed and published by Riot Games. Inspired by Defense of the Ancients, a custom map for Warcraft III, Riot's founders sought to develop a stand-alone game in the same genre.</h3>
    </div>
    