<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width", "initial-scale=1.0">
    <meta http-equive="X-UA-Compatible" contents="ie=edge">
    <title>List of champions</title>
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class = logo-img>

        <img src="static/images/LoL-Logo.png" width="180" height="90">

    </div>

    <header>
        
        <nav class = center-align >
            
            <ul>
                <a href="/"><li class = button>Home</li></a>
                <a href="champions"><li class = button>Champions</li></a>
                <a href="guides"><li class = button>Guides</li></a>
                <a href="FAQ"><li class = button>FAQ</li></a>
            </ul>
        </nav>
    </header>

<h1 class = margin-left> Talon </h1>
 
<div class = margin-left> 
<h1> Rune examples</h1>
</div>

<div class = margin-left> 
<h1> Build Example  </h1>
</div>

<div class = margin-left> 
<h1> Combos </h1>
</div>

